


.ggg button{
    background-color: rgb(57, 247, 57);
    border: none;
    border-radius: 7px;
    width: 40%;
    height: 2rem;
    margin-top: 3%;
    font-size: 1.2rem;
    margin-left:30%;

    &&:hover{
        border: 1px solid red;
        background-color: white;
        transition: .5s;
    }
}

input{
    font-size: 1.2rem;
    padding: .5%;
}

input[type="number"]::-webkit-outer-spin-button,::-webkit-inner-spin-button{
    appearance: none;
}


textarea{
    font-family: cursive;
    font-size: 1.2rem
}

